form { 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    text-align: center;
    margin-top: 1em;
    background-color: green;
    padding: 2em;
}

input {
    width: 60%;
    margin-bottom: 2em;
    border: none;
    background-color: greenyellow;
}

textarea {
    width: 60%;
    margin-bottom: 2em; 
    border: none;
    background-color: greenyellow;
}

button {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border: none;
    background-color: rgb(225, 233, 112);
    color: rgb(43, 17, 17);
}

.bug-q {
    width: 500px;
    height: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 2em;
    background-color: green;
    padding: 2em;
}
